.bigCounter{
   display: inline-block;
   margin: auto;
   text-align: center;

}
.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
    background: black;
    color: white
}